{% extends "base.html" %}
{% load static %}

{% block title %}
Protein Search
{% endblock %}

{% block css %}
<link href="{% static 'protein_search.css' %}" rel="stylesheet">
{% endblock %}

{% block body %}
<div class="flex items-center justify-center flex-col">
    <h1 class="mt-8 mb-4 text-4xl font-semibold">Search For a Protein</h1>
    <form class="w-full flex flex-col items-center" action="" method="get">

        <input class="w-[80%] border-0" type="text" name="search" id="search" class="form-control" placeholder="Protein"
            required autofocus value="{{ protein }}">



        <input type="submit" class="btn btn-lg btn-success btn-block" id="search-button" value="Search">
    </form>
    <br>
    <h2 class="text-4xl">Results</h2>
    <table>
        <thead>
            <tr>
                <th>Protein</th>
                <th>Uniprot ID</th>
                <th>Model Folding</th>
                <th>Personalized Medicine Compare</th>
            </tr>
        </thead>
        <tbody>
            {% for protein in proteins %}
            <tr>
                <td>{{ protein.name }}</td>
                <td>
                    {{ protein.uniprot_accession }}
                </td>
                <td>
                    <a href="{% url 'protein_folding' protein.uniprot_accession %}">
                        Model Folding
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>

    </table>
</div>

{% endblock %}

{% block js %}
{% endblock %}