{% extends "base.html" %}
{% load static %}

{% block title %}
    Visualizer
{% endblock %}

{% block css %}
    <link href="{% static 'visualizer.css' %}" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/molstar@4.12.1/build/viewer/molstar.min.css" rel="stylesheet">
{% endblock %}

{% block body %}

<div id="viewer" class="viewer"></div>
<div id="viewer1" class="viewer"></div>
<div id="viewer2" class="viewer"></div>


{% endblock %}

{% block js %}
    <script src="https://cdn.jsdelivr.net/npm/molstar@4.12.1/build/viewer/molstar.min.js"></script>
    <script>
        // Build an ad-hoc MVS view
        // Try and get URL from ?url=
        let url = new URLSearchParams(window.location.search).get('url');
        let url1 = new URLSearchParams(window.location.search).get('url1');
        let url2 = new URLSearchParams(window.location.search).get('url2');
        let format = new URLSearchParams(window.location.search).get('format');
        console.log(url, format)
        if (!url && !url1 && !url2) {
            url = 'https://www.ebi.ac.uk/pdbe/entry-files/1cbs.bcif';
            format = 'bcif';
        }
        if (!format) {
            format = 'pdb';
        }

        const builder = molstar.PluginExtensions.mvs.MVSData.createBuilder();
        const structure = builder
            .download({ url: url })
            .parse({ format: format })
            .modelStructure({});
        structure
            .component({ selector: 'polymer' })
            .representation({ type: 'cartoon' })
            .color({ color: 'green' });

        const mvsData = builder.getState();
        const mvsj = molstar.PluginExtensions.mvs.MVSData.toMVSJ(mvsData);
        molstar.Viewer.create('viewer', { layoutIsExpanded: false, layoutShowControls: false })
            .then(viewer => viewer.loadMvsData(mvsj, 'mvsj'));
    
        function sleep(ms) {
            return new Promise(resolve => setTimeout(resolve, ms));
        }
        
        $(async function() {
            let sleep_time = 5;
            await sleep(300);
            $("button.msp-btn.msp-btn-icon.msp-btn-link-toggle-off[title='Toggle Controls Panel']").click()
            await sleep(sleep_time);
            $("button.msp-btn.msp-btn-icon.msp-form-control[title='Actions']").click()
            await sleep(sleep_time);
            $("button.msp-btn.msp-form-control.msp-btn-block").click()
            await sleep(sleep_time);
            $("button.msp-btn.msp-btn-block[title='Uniform']").click()
            await sleep(sleep_time);
            $("button.msp-btn.msp-btn-block.msp-no-overflow[title='Click to expand. Validation']").click()
            await sleep(sleep_time);
            $("button.msp-btn.msp-btn-block.msp-no-overflow.msp-action-menu-button").filter(
                function() {
                    return $(this).text() === 'pLDDT Confidence';
                }
            ).click();
            await sleep(sleep_time);
            $("button.msp-btn.msp-btn-icon.msp-btn-link-toggle-on[title='Toggle Controls Panel']").click()
            await sleep(20);
            $("#viewer").show();
        });

    </script>
    <script src="{% static 'visualizer.js' %}"></script>
{% endblock %}